:root {
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #1D1D1D;

    --color-brand-light: #F9B50C;

    --color-accent-light: #FABF59;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;