.house-nav {
    display: none; 
    margin-bottom: 36px;
    flex-direction: column;
    padding: 0 54px;
    gap: 5px;

    @media screen and (min-width: $bp-tablet) {
        padding: 0;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var(--color-primary-light);
        border-radius: 100px;
        gap: 0;
    }
 
    &__item {
        cursor: pointer;
        display: flex;
        padding: 10px 76px;
        gap: 8px;
        align-items: center;
        color: var(--color-primary-light);
        text-decoration: none;
        text-transform: uppercase;
        justify-content: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
            padding: 10px 24px;
        }

        @media screen and (min-width: $bp-desktop) {
            padding: 10px 76px;
        }

        &--active {
            color: var(--color-primary-dark);
            background-color: var(--color-brand-light);
            outline: 1px solid var(--color-brand-light);
            border-radius: 100px;
        }

        &-icon {
            width: 26px;
            height: 26px;

            @media screen and (min-width: $bp-desktop) {
                width: 35px;
                height: 38px;
            }
        }
    }
}