.hogwarts-figures-section {
    position: relative;
    transition: transform .7s;

    &__list {
        display: flex;
        gap: 20px;
    }

    &__item {
        width: calc((100% - 20px) / 3);
    }
}